.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 10%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
span
  &.color-primario
    color: $color-primario !important
    font-weight: bold
  &.color-secundario
    color: $color-secundario !important
    font-weight: bold
  &.color-acento-contenido
    color: $color-acento-contenido !important
    font-weight: bold
  &.color-acento-botones
    color: $color-acento-botones !important
    font-weight: bold
    em
      color: $color-acento-botones !important

.subtitulo
  position: relative
  border-radius: 20px
  border-right: 7px solid $color-acento-contenido
  background-color: $color-secundario
  padding: .7rem
  display: inline-block
  h3
    color: white
    margin-bottom: 0
    margin-left: 2rem
    margin-right: 1rem
  &::before
    content: url('../assets/curso/temas/subtitulo.svg')
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    transform: translate(-50%, -50%)
.mn
  margin: 0 -3rem
.bg-card-1
  background-image: url('../assets/curso/temas/bg-card.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
.slyderf-icon
  .fa-chevron-right:before
    content: url('../assets/curso/temas/chevron-right.svg') !important
  .fa-chevron-left:before
    content: url('../assets/curso/temas/chevron-left.svg') !important
.bg-slyde
  background-image: url('../assets/curso/temas/bg-slyde.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
.bg-tema1
  background-image: url('../assets/curso/temas/tema1/bg-tema1.svg')
  background-repeat: no-repeat
  background-position: initial
  background-size: cover
.card-icon
  border-radius: 10px
  background-color: #edeafc
  overflow: hidden
  position: relative
  &:before
    content: url('../assets/curso/temas/icon1.svg')
    position: absolute
    top: 0
    left: -50px
    transform: translateY(50%)
.linea-edit
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content__title, .linea-tiempo-d__item__content__slot div,

      background-color: #ddeeff !important
.card-1
  background-image: url('../assets/curso/temas/tema5/card-1.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  transition: background-image .3s ease-in-out
  &:hover
    background-image: url('../assets/curso/temas/tema5/card-2.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
@media (max-width: $bp-max-lg)
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px
    background-size: 10px
@media (max-width: $bp-max-sm)
  .slyder-a__bullets
    transform: scale(.5)
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 20px
    height: 20px
    background-size: 10px
.anexo
  background-color: #d5cef8
  transition: background-color .3s ease-in-out
  &:hover
    background-color: #ebebeb
